**/wwwroot/js/bootstrap*.js linguist-vendored=true
**/wwwroot/js/jquery*.js linguist-vendored=true
**/wwwroot/css/bootstrap*.css linguist-vendored=true
**/wwwroot/fontawesome/** linguist-vendored=true