@*
    Vista parcial de recuperación de contraseña para el módulo Auth.
*@
@{
    ViewData["Title"] = "Recuperación de contraseña";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<h1>Vista de Recover</h1>
<a role="button" class="btn btn-primary" asp-action="Login" asp-controller="Auth">Ir a login</a>
<a role="button" class="btn btn-primary" asp-action="Register" asp-controller="Auth">Ir a register</a>
<a role="button" class="btn btn-primary" asp-action="VerifyMfa" asp-controller="Auth">Ir a verificación</a>

@section Scripts
{
    <script src="~/js/ajax/auth-ajax-scripts.js" asp-append-version="true"></script>
}

@section Styles
{
    <link rel="stylesheet" href="~/css/auth/forgotpassword.css" asp-append-version="true" />
}
