@*
    Vista parcial para la verificación de código de MFA para el módulo Auth.
*@
@{
    ViewData["Title"] = "Verificación de código";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<h1>Vista de Verificación</h1>
<a role="button" class="btn btn-primary" asp-action="Login" asp-controller="Auth">Ir a login</a>
<a role="button" class="btn btn-primary" asp-action="Register" asp-controller="Auth">Ir a register</a>
<a role="button" class="btn btn-primary" asp-action="ForgotPassword" asp-controller="Auth">Ir a recover</a>

@section Scripts
{
    <script src="~/js/ajax/auth-ajax-scripts.js" asp-append-version="true"></script>
}

@section Styles
{
    <link rel="stylesheet" href="~/css/auth/verifymfa.css" asp-append-version="true" />
}